<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<!-- 一些公用的属性，在后面可以直接引用,这里可以根据不同环境引用命令行或者properties文件中传过来的参数制定日志输出路径 -->
	<!-- 也可以使用springProperty标签，两者工作方式类似 -->
	<springProperty scope="context" name="appName" source="app_name" defaultValue="myspringboot2"  />
	<springProperty scope="context" name="appLogPath" source="app_log_path" defaultValue="D:/logs"  />
	
	
	<property name="LOG_PATH" value="${appLogPath}"/>
	<property name="LOG_FILE_NAME" value="${appName}"/>
	<property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%thread] %class : %logger -%m%n %wEx"/>	

	<!-- 这是logback github上的 -->
	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
	<conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
	<conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!-- 自己根据日志看下%logger和%m的区别,以及wEX -->
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>	
	
	
	<appender name="ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<file>${LOG_PATH}/${LOG_FILE_NAME}-ERROR.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}-ERROR_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>100</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>ERROR</level>  
            <onMatch>ACCEPT</onMatch>    
            <onMismatch>DENY</onMismatch>    
        </filter> 
	</appender>
	
	<appender name="WARN"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<file>${LOG_PATH}/${LOG_FILE_NAME}-WARN.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}-WARN_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>100</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>WARN</level>  
            <onMatch>ACCEPT</onMatch>    
            <onMismatch>DENY</onMismatch>    
        </filter>
	</appender>
	
	<appender name="INFO"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<file>${LOG_PATH}/${LOG_FILE_NAME}-INFO.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}-INFO_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>100</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>INFO</level>  
            <onMatch>ACCEPT</onMatch>    
            <onMismatch>DENY</onMismatch>    
        </filter>		
	</appender>
	
	<appender name="DEBUG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
		<file>${LOG_PATH}/${LOG_FILE_NAME}-DEBUG.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}-DEBUG_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>100</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <level>DEBUG</level>  
            <onMatch>ACCEPT</onMatch>    
            <onMismatch>DENY</onMismatch>    
        </filter>		
	</appender>			
	
	
	<!-- 其他包的日志输出级别    来自logback的GitHub-->
	<logger name="org.apache.catalina.startup.DigesterFactory" level="ERROR"/>
	<logger name="org.apache.catalina.util.LifecycleBase" level="ERROR"/>
	<logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN"/>
	<logger name="org.apache.sshd.common.util.SecurityUtils" level="WARN"/>
	<logger name="org.apache.tomcat.util.net.NioSelectorPool" level="WARN"/>
	<logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="ERROR"/>
	<logger name="org.hibernate.validator.internal.util.Version" level="WARN"/>	
	
	
	<springProfile name="dev">
	<logger name="com.monster.demo.mapper" level="DEBUG" additivity="false" />
	
		<root level="DEBUG">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="DEBUG" />
			<appender-ref ref="INFO" />
			<appender-ref ref="WARN" />
			<appender-ref ref="ERROR" />						
		</root>
		
	</springProfile>
	
	
	<springProfile name="test">
		<root level="INFO">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="DEBUG" />
			<appender-ref ref="INFO" />
			<appender-ref ref="WARN" />
			<appender-ref ref="ERROR" />						
		</root>
	</springProfile>
	
	<springProfile name="prod">
		<root level="INFO">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="DEBUG" />
			<appender-ref ref="INFO" />
			<appender-ref ref="WARN" />
			<appender-ref ref="ERROR" />						
		</root>
	</springProfile>		
	
</configuration>